@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
}

:root {
    --cor01: #008000;
    --cor01: #00aa00;
    --cor01: #00bd74;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

header {
    background-image: linear-gradient(to top, #008000, #00bd74);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color: white;
}

header h1 {
    font-family: 'Bebas Neue', cursive;
}

header p {
    margin-bottom: 40px;
}

article h1, h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 2em;
    background-image: linear-gradient(to right, #008000, #00bd7500);
    color: white;
}

nav {
    background-color: #008000;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

nav a:hover {
    background-color: #00bd74;
    transition-duration: 0.5s;
}

article {
    background-color: white;
    margin: auto;
    max-width: 920px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
}

article p {
    margin: 20px 0px 20px 0px;
    line-height: 1.5em;
}

aside {
    background-color: #00e48c;
    border-radius: 10px;
    padding: 20px;
}

aside h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    background-color: #008000;
    color: white;
    padding: 10px;
    margin: -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

ul {
    columns: 2;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}